.wrapper {
  padding: 0 75px;
  margin: 0 auto;
  max-width: 1770px;
}

.wrapper-min {
  max-width: 1095px;
  margin-left: 0;
  margin-right: 75px;
}

.wrapper-min img {
  max-width: 1095px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.article-list {
  margin-top: 43px;
  font-size: 16px;
  line-height: 24px;
  color: #525252;
}

.purchase {
  margin-bottom: 43px;
}

.care {
  margin-top: 43px;
}