.article {
  padding: 100px 0 85px;
}

.article__title {
  font-size: 50px;
  line-height: 65px;
  font-weight: 700;
  padding-bottom: 60px;
}

.article__paragraph_one {
  margin-bottom: 33px;
}

.article__paragraph_two {
  margin: 0;
}

.article__paragraph:last-child {
  margin: 0;
}

.article-nav {
  font-size: 16px;
  line-height: 24px;
  color: #525252;
  padding: 17px 0 23px;
}

.article__list {
  padding-left: 17px;
}

.article__img {
  max-width: 1095px;
  height: 100%;
  padding: 27px 0 50px;
}

.section {
  padding-bottom: 33px;
}

.section:last-child {
  padding: 0;
}

.section__title {
  font-size: 22px;
  line-height: 33px;
}

.section__title_bold {
  font-weight: 700;
}