.article {
  padding: 95px 0 85px;
}

.previos {
  padding-bottom: 45px;
}

.previos-title {
  font-size: 50px;
  line-height: 65px;
  font-weight: 700;
  margin-bottom: 50px;
}

.previos-box {
  margin-bottom: 45px;
}

.paragraph {
  margin-bottom: 40px;
}

.paragraph:last-child {
  margin: 0;
}

.previos-menu {
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 24px;
  color: #525252;
}

.previos-list {
  padding-left: 17px;
}

.article-img {
  max-width: 1095px;
  height: 100%;
}

.article-img_care {
  padding: 32px 0 45px;
}

.section {
  padding-bottom: 33px;
}

.section:last-child {
  padding: 0;
}

.section-title {
  font-size: 22px;
  line-height: 33px;
}

.section-title_bold {
  font-weight: 700;
}