@import url("article.css");


@font-face {
  font-family: "Lato";
  src: local("Lato"), local("Lato-Regular"), url('../fonts/lato-regular.woff2') format("woff2"),
    url('../fonts/lato-regular.woff') format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: local("Lato"), local("Lato-Bold"), url('../fonts/lato-bold.woff2') format("woff2"),
    url('../fonts/lato-bold.woff') format("woff");
  font-weight: 700;
  font-display: swap;
}


body {
  font-family: Lato, sans-serif;
  text-decoration: none;
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  font-weight: 400;
  color: #2d2d2d;
}